* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
  font-family: 'creato display';
  background: none;
  border: none;
}

@font-face {
  font-family: 'creato display';
  src: url("./fonts/CreatoDisplay-Light.otf");
}

@font-face {
  font-family: 'creato extra light';
  src: url("./fonts/CreatoDisplay-Thin.otf");
}

body {
  height: 100dvh;
  background-color: rgb(40, 40, 40);
  display: grid;
  grid-template-rows: 75px repeat(2, 1fr);
  background-image: url("./img/background.jpg");
  background-size: cover;
  padding: 1rem 15%;
  gap: 15px;
}

.blur {
  position: absolute;
  height: 100dvh;
  width: 100dvw;
  top: 0;
  left: 0;
  backdrop-filter: blur(20px);
  background-color: rgba(100, 100, 100, 0.2);
  z-index: -1;
}

.dailyTemp,
.dailyInfo,
.forecast,
.header {
  display: grid;
  border-radius: 5px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.main {
  display: grid;
  gap: 5px;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
}

/* HEADER */
.header {
  padding: 1rem;
}

.searchList {
  position: fixed;
  height: max-content;
  width: 50px;
  display: grid;
  grid-auto-rows: 60px;
  gap: 5px;
  transition: 0.2s all;
}

.searchResult {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid lightblue;
  color: black;
  padding: 5px;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s all;
}


.searchResult:hover {
  background-color: rgba(170, 170, 170, 0.2);
}

#findLocation {
  background: none;
  background-image: url("./img/search.svg");
  background-size: 25px;
  background-position: left;
  background-repeat: no-repeat;
  border: none;
  height: 100%;
  font-size: 20px;
  text-align: center;
  width: 300px;
  padding: 5px;
  border-bottom: 1px solid white;
}

#findLocation:focus {
  outline: none;
}

#findLocation::-webkit-search-cancel-button{
  -webkit-appearance: none;
}

/* END HEADER */

/* MAIN */

.dailyTemp {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-self: flex-end;
  justify-content: space-evenly;
}

.tempNow {
  font-size: 14rem;
  font-weight: 100;
  font-family: "creato extra light";
  height: min-content;
}

.tempExtremes {
  display: flex;
  gap: 1rem;
  font-size: 4.5rem;
  font-weight: 100;
  width: 100%;
  justify-content: space-evenly;
}

.tempExtremes>h3 {
  font-family: "creato extra light";
}

.tempLow {
  color: rgb(22, 94, 177);
}

.dailyInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-around;
  height: 100%;
}

.dateInfo {
  font-size: 24px;
}

.conditionInfo {
  font-size: 32px;
  display: grid;
}

.conditionInfo>img {
  height: 128px;
  width: 128px;
}

.cityName {
  font-size: 6rem;
}

/* FORECAST */
.forecast {
  grid-template-rows: 50px 1fr;
  align-self: flex-end;
}

.forecastSelect {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.forecastSelect>button {
  width: 100px;
  font-size: 2rem;
  color: lightgray;
  height: 100%;
  transition: all 0.2s;
  border-bottom: 2px solid transparent;
}

.forecastSelect>button:hover {
  color: white;
  cursor: pointer;
}

.forecastSelect>button.selected {
  border-bottom: 2px solid white;
  color: white;
}

.forecastDisplay {
  min-height: 246px;
}

.forecastDisplay.hourly {
  overflow-x: auto;
  display: grid;
  grid-auto-columns: 100px;
  gap: 50px;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-self: flex-start;
  padding: 1rem 0;
}

.hourCard {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardTime {
  font-size: 32px;
  font-weight: 200;
}

.cardCondition {
  width: 100px;
}

.cardTemp {
  font-size: 48px;
  font-weight: 400;
}

.forecastDisplay.daily {
  overflow-x: auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: flex-start;
  align-self: flex-start;
  padding: 1rem 0;
  gap: 50px;
}

.dailyCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.dailyCondition {
  width: 100px;
}

.dailyTemp {
  font-size: 30px;
  height: max-content;
  text-wrap: nowrap;
}

.dailyTime {
  font-size: 32px;
  height: max-content;
}
/* FORECAST END */
/* DETAILS */
.forecastDisplay.details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.detailsColumn {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  place-items: center;
  grid-auto-flow: column;
}


/* DETAILS END */

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/* TEMP SLIDER */

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 0.25em;
  justify-self: end;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hotpink;
  transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "°C";
  display: grid;
  text-align: center;
  vertical-align: middle;
  place-items: center;
  font-size: 1em;
  font-weight: 900;
  width: 2em;
  aspect-ratio: 1;
  border-radius: 50%;
  bottom: 0.3em;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  color: hotpink;
  background-color: pink;
  border: 1px solid rgba(255, 105, 180, 0.507);
  transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.switch input:checked + .slider {
  background-color: teal;
}

.switch input:checked + .slider:before {
  content: "°F";
  color: teal;
  background: paleturquoise;
  border: 1px solid rgba(0, 128, 128, 0.514);
  transform: translate(1.75em, -50%);
}

.modal {
  width: 100dvw;
  height: 100dvh;
  left: 0;
  top: 0;
  position: absolute;
  background-color: rgba(200, 200, 200, 0.3);
  backdrop-filter: blur(5px);
  display: grid;
  place-items: center;
}

.modalContainer {
  background-color: black;
  width: 250px;
  height: 250px;
}